{% extends "services/base.html" %}
{% block service %}
{{ super() }}
<form method="post" style="margin: auto; max-width: 800px; display: flex; flex-direction: column;">

	<div style="display: flex; align-items: center; margin: 1rem">
		<label for="rgb" style="margin: 1rem">RGB</label>
		<input type="color" id="rgb" name="rgb" value="{{rgb}}" style="flex-grow: 1"/><br/>
	</div>
	<div style="display: flex; align-items: center; margin: 1rem">
		<label for="w" style="margin: 1rem">W</label>
		<input type="range" id="w" name="w" min="0" max="255" value="{{w}}" style="flex-grow: 1"/><br/>
	</div>

	<input type="submit" value="Set" style="margin: 1rem"/><br/>
</form>
{% endblock service %}
