<html>
	<body>
		<a href="../services">Service list</a></br>
		<b>{{name}}</b><br/>
		<form method="post">
			<label for="r">R</label>
			<input type="text" id="r" name="r" value="{{r}}"/><br/>
			<label for="g">G</label>
			<input type="text" id="g" name="g" value="{{g}}"/><br/>
			<label for="b">B</label>
			<input type="text" id="b" name="b" value="{{b}}"/><br/>
			<label for="w">W</label>
			<input type="text" id="w" name="w" value="{{w}}"/><br/>

			<input type="submit" value="Set"/><br/>
	</body>
</html>
